<!-- JavaScript fuer BB-Code-Funktion -->
<script src="<?PHP echo $tempdir; ?>javas.js" type="text/javascript"></script>
<?php if ($settings['artikellightbox'] == 1): ?>
<script src="<?PHP echo $subfolder; ?>01acp/system/js/mootools-core.js" type="text/javascript"></script>
<script src="<?PHP echo $subfolder; ?>01acp/system/js/mootools-more.js" type="text/javascript"></script>
<script src="<?PHP echo $subfolder; ?>01acp/system/js/mootools-remooz.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="<?PHP echo $subfolder; ?>01acp/system/js/mootools-remooz.css" />

<script type="text/javascript">
	window.addEvent('load', function() {
	ReMooz.assign('#_01article a.lightbox', {
		'origin': 'img',
		'shadow': 'onOpenEnd', // fx is faster because shadow appears after resize animation
		'resizeFactor': 0.9, // resize to maximum 80% of screen size
		'cutOut': false, // don't hide the original
		'opacityResize': 0.4, // opaque resize
		'dragging': false, // disable dragging
		'centered': true // resize to center of the screen, not relative to the source element
	});
});
</script>
<?php endif; ?>
<?php echo $echo_css; ?>

<div id="_01article" class="box_out">

<a name="01jumpartikel"></a>

<?php if (isset($iderror) && $iderror > 0): ?>
    <p class="meldungen_01">
		<?php if (isset($iderror) && $iderror == 1): ?>
		<b>Fehler:</b> Es konnten keine passenden Artikel gefunden werden!
		<?php endif; ?>
		<?php if (isset($iderror) && $iderror == 2): ?>
		<b>Fehler:</b> Ihre Suche nach <i><?php echo $_REQUEST[$names['search']]; ?></i> brachte leider kein Ergebnis.
		<?php endif; ?>
		<?php if (isset($iderror) && $iderror == 3): ?>
		<b>Fehler:</b> In dieser Kategorie befinden sich leider noch keine Artikel.
		<?php endif; ?>
		<?php if (isset($iderror) && $iderror == 4): ?>
		[<a href="<?php echo $filename; ?>">Suche beenden</a>] <b>Suche erfolgreich:</b> Ihre Suche nach <i><?php echo $_REQUEST[$names['search']]; ?></i> brachte folgende Ergebnisse:
		<?php endif; ?>
		<?php if (isset($iderror) && $iderror == 5): ?>
		[<a href="<?php echo $filename; ?>">Kategorie entfernen</a>] <b>Kategorie <?php echo $category[$_REQUEST[$names['catid']]]['name']; ?>:</b> Es werden ausschlie&szlig;lich Artikel dieser Kategorie angezeigt.
		<?php endif; ?>
	</p>
<?php endif; ?>